[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
gunicorn = "*"
psycopg2-binary = "*"
dj-database-url = "*"
whitenoise = "*"
django-heroku = "*"
django-cors-headers = "*"
djangorestframework = "*"
knox = "*"
django-restknox = "*"

[requires]
python_version = "3.8"
