<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method = "POST" >
        {% csrf_token %}
        <input type = "text" name = "username" placeholder="username"> <br>
        <input type = "email" name = "email" placeholder="email"> <br>
        <input type = "password" name = "password" placeholder="password"> <br>
        <input type = "submit">
    </from>
    <div>
        {%if messages %}
            {% for message in messages %}
            <div>{{message}}</div>
        {% endfor %}
        {% endif %}
    </div>
    <div>
        <small> Already have account? <a href='#'>Sign In</a> </small>
    </div>
</body>
</html>